# Dependencies
node_modules

# Builds
.next
out
dist
lib

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local
firebase-debug.log

# Editor
.vscode
.idea
.DS_Store
