rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Anyone can read all documents.
    match /{document=**} {
      allow read: if true;
      // Only signed-in users can write to all other collections.
      allow write: if request.auth != null;
    }

    // This allows anyone to read and write chat messages.
    match /chats/{document=**} {
      allow read, write: if true;
    }
    
    // 💡 Add this new rule to allow anyone to write to device_clicks.
    match /device_clicks/{document=**} {
      allow write: if true;
    }
    
    // 💡 Add this new rule to allow anyone to write to device_clicks.
    match /device_clicks/{document=**} {
      allow write: if true;
    }
  }
}